/venv/
/src/PlateSolveSimulator/.pid
/src/PlateSolveSimulator/PSSimulator.log
/venv.1/
/src/PlateSolveSimulator/images/
__pycache__/
/src/common.sav
/src/dlipower.sav
/src/powered_device-sav.py
*.fits
