anyio
astropy
beautifulsoup4
certifi
charset-normalizer
click
colorama
docstring-parser
exceptiongroup
fastapi
gitdb
GitPython
h11
idna
numpy
orjson
packaging
photutils
psutil
pydantic
pyerfa
pythonping
pywin32
requests
semaphore-win-ctypes
setuptools
smmap
sniffio
soupsieve
starlette
tomlkit
typing_extensions
urllib3
uvicorn
websockets
pillow
pymongo
cachetools
ipaddress
scikit-image
httpx
humanfriendly
pydantic[email]
matplotlib
pydantic[dotenv]
isort
black
flake8
watchdog
pyzwoasi
pyserial
python-ulid
rich
astroplan
pytest
